@font-face {
    font-family: 'horror';
    src: url("g_comichorrorR_freeR.ttf") format("truetype");
    font-display: swap; 
    }
body{background-color:#ffffff8e;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.911);
    font-family: 'Noto Sans JP', sans-serif;}

header{border-bottom: solid  ; }
    .main-logo{display: flex;
        background-color: #ffffff;
        }
    .logo-1{width: 10%;}
    .logo-2{width:90%;
        height: auto;}


    li{list-style:none;}
    .image-container{border-bottom: solid;
    display: flex;}
    .image-container img{
    width:40%;
height: auto;}

.h-1{font-family: 'horror';
    color: rgb(202, 8, 8);
    white-space: nowrap;   
font-size: 350%; }
    .h-2{font-family: 'horror';
        color: rgb(202, 8, 8);
        font-size: 350%;
    width: 70%;
   
    margin: -240px;
position: relative;
bottom: -340px;
right: 20%;}  

.image-container h3{white-space: nowrap;
     position: relative;
  top: 270px;
  font-size: 170%;
  left: -470px;
}

    .switch-container ul{ display: flex;}    
    .switch-container li{background-color: #ff0000c9;
        width: 23%;
        height: 55px;
    
        margin:40px ;
        position: relative;
     left: 35%;
     top: -220px;
     text-align: center;
}
.switch-container a{color: #ffffff;
    font-size: 170%;
  position: relative;
  top: 8px;
}



.main-con ul{ float: right;
    margin-top: -165px;
    
    width: 40%;
    height: 800px;
line-height: 2;
border-left: solid 2px;
border-bottom: solid 4px;
overflow: scroll;
scrollbar-width: auto;
}

.main-con p{font-size: 90%;}
.main-con a{ position : relative ;
 font-size: 200%;
    z-index: 30;  }


.main-section h1{
    color: rgb(0, 0, 0);
    white-space: pre-wrap;
    font-size: 320%;}
    
  .san-1{margin-bottom: 400px;}

.main-section {  color: rgb(0, 0, 0);
    margin-top: -150px;
    position: relative;
;}
.danger-zone::before,
.danger-zone::after {

 content: "";
 display: block;
 height: 1em;
 background: repeating-linear-gradient(
  -45deg,
  black,
  black 1em,
  yellow 1em,
  yellow 2em
 );
}
.danger-zone p{font-size: 200%;}

.san-2{margin-top: 100px;
margin-bottom: -10px;}
.san-3{border-bottom: solid 2px;
margin-bottom: 80px;}
.san-4{margin-bottom: 80px;
font-size: 200%;}

.main-coment{ border-top: solid;
margin-bottom: 250px;}
.main-coment h2{padding-top: 40px;}
span{color: gold;
font-size: 150%;}

footer{border-top: solid  ;
    border-color:rgb(0, 0, 0);
    background-color: black;
height: 200px;
color: #ffffff;
display: flex;
align-items: flex-end}


